
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<!DOCTYPE html>

{% block content %}
      <div class="container">
          <div class="row mt-5">
              <div class="col-md-12 mt-5 text-center">
                  <img class="rounded-circle account-profile" src="{{ user.profile.image.url }}" alt="user" width="35px"height="35px">
                  <div class="media-container">
                    <h2 class="account-header">{{user.username}}</h2>
                    <p class="">{{user.email}}</p>
                    <p class="ml-3">{{user.profile.neighborhood}}</p>
                    <a class="btn btn-info" href="{% url 'updateprofile' %}">Update Profile</a>
                </div>
              </div>
              </div>
              </div>
              </div>

{% endblock %}
